<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Tutorial</title>
    <link rel="stylesheet" href="tutorial.page.scss" />
  </head>
  <body>
    <div class="container">
      <br />
      <br />

      <div id="cabecalho">
        <ion-menu-button menu="main"></ion-menu-button>
        <div class="logoGroup">
          <img id="estiloMascoteCadastro" src="assets/imgs/mascote.png" />
          <img id="estiloLogoCadastro" src="assets/imgs/logo.png" />
        </div>
      </div>

      <div>
        <h1 class="titulo">Tutorial</h1>
        <h2 class="texto">
          Olá! Sou o Don’t Worry, o chatbot para saúde mental. Estou aqui para
          te escutar e te orientar sobre bem-estar, ansiedade e estresse.
          <br />
          Importante: Quero que saiba que nossa conversa é um espaço de apoio,
          mas ela não substitui a ajuda de um profissional de saúde mental, como
          um psicólogo ou psiquiatra. Você pode conversar comigo a qualquer
          momento — tudo com acolhimento e sigilo. 
          <br/>Vamos lá?
        </h2>
        <button type="submit" class="button-primary">
          <a id="link" href="/daily-checkin">Iniciar</a>
        </button>
      </div>
    </div>
  </body>
</html>
