<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tela Mobile</title>
    <link rel="stylesheet" href="../register/register.page.scss">
    <link rel="stylesheet" href="daily-checkin.page.scss">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>


<body>
    <div class="container" style="margin-top: 50px; padding: 2px;">
        <div id="cabecalho">
            <ion-menu-button menu="main"></ion-menu-button>
            <div class="logoGroup">
                <img id="estiloLogoCadastro" src="assets/imgs/logo.png" />
                <img id="estiloMascoteCadastro" src="assets/imgs/mascote.png" />
            </div>
        </div>
        <form action="chatbot.html">
            <div class="humor-container">

                <h2>Qual o seu humor hoje?</h2>

                <div class="humor-grid">

                    <label class="humor-option">
                        <input type="checkbox" name="humor" value="feliz">
                        <span>Feliz</span>
                    </label>

                    <label class="humor-option">
                        <input type="checkbox" name="humor" value="triste">
                        <span>Triste</span>
                    </label>

                    <label class="humor-option">
                        <input type="checkbox" name="humor" value="bravo">
                        <span>Bravo</span>
                    </label>

                    <label class="humor-option">
                        <input type="checkbox" name="humor" value="solitario">
                        <span>Soltário</span>
                    </label>

                    <label class="humor-option">
                        <input type="checkbox" name="humor" value="alegria">
                        <span>Alegre</span>
                    </label>

                    <label class="humor-option">
                        <input type="checkbox" name="humor" value="motivado">
                        <span>Motivado</span>
                    </label>

                    <label class="humor-option">
                        <input type="checkbox" name="humor" value="cansado">
                        <span>Cansado</span>
                    </label>

                    <label class="humor-option">
                        <input type="checkbox" name="humor" value="estressado">
                        <span>Estressado</span>
                    </label>

                    <label class="humor-option">
                        <input type="checkbox" name="humor" value="tranquilo">
                        <span>Tranquilo</span>
                    </label>

                    <label class="humor-option">
                        <input type="checkbox" name="humor" value="apaixonado">
                        <span>Apaixonado</span>
                    </label>

                    <label class="humor-option">
                        <input type="checkbox" name="humor" value="exausto">
                        <span>Exausto</span>
                    </label>

                    <label class="humor-option">
                        <input type="checkbox" name="humor" value="desanimado">
                        <span>Desanimado</span>
                    </label>
                </div>
                <!-- <button id="botaoCadastro" type="submit">Continuar</button> -->
                <button type="submit" class="botaoCadastro">
                    <a id="linkB" href="/chat">Continuar</a>
                </button>
            </div>
        </form>
    </div>



</body>

</html>
