<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Chat + Gemini</title>
  <link rel="stylesheet" href="login.page.scss">
</head>
<body>

  <div class="container">
    <div id="cabecalho">
      <img src="assets/imgs/logo.png" alt="Logo" class="logo" />
      <img src="assets/imgs/mascote.png" alt="Mascote" class="mascote" />
    </div>

    <form>
      <div class="formularioLogin">

        <label for="email">Email institucional:</label>
        <input type="email" id="email" placeholder="email@dominio.com" required>

        <label for="senha">Senha:</label>
        <input type="password" id="senha" placeholder="****************" required>

        <br>
        <!-- Use um link com routerLink para navegação SPA sem recarregar a página -->
        <a routerLink="/chat" class="login-button">Continuar</a>
        <br>
        <div class="links">
          <a id="linkSenha" routerLink="/esqueci-senha">Esqueceu a senha?</a>
          <a id="linkSenha" routerLink="/register">Cadastrar</a>
        </div>
      </div>
    </form>
  </div>
</body>
</html>
