body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #fff8f0;
  color: #333;
}

.container {
  width: 100%;
  max-width: 440px; /* típico mobile */
  margin: 0 auto;
  padding: 16px;
}

#cabecalho {
    justify-content: flex-start;
  display: flex;
  padding: 20px;
  gap: 20px;
  width: 100%;
  align-items: center;
}

.login-button {
  border: none;
  border-radius: 10px;
  background: var(--primary, #3b3355);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  height: 52px;
  text-decoration: none;
  /* Centraliza horizontal e verticalmente o texto */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1; /* evita interferência do line-height padrão */
  cursor: pointer;
}

label {
  color: var(--text, #000505);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 28px */
}

input {
  padding: 10px 12px;
  border-radius: 10px;
  border: 2px solid #c6b7cc;
  font-size: 16px;
  outline: none;
  color: #AFAFAF; 
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  background-color: transparent;
}

input::placeholder {
  color: #b3b3b3;
}

#linkSenha {
  color: #000505;
}


.formularioLogin {
  padding-top: 70px;
  width: 90%;
  max-width: 380px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 60%;       /* ocupa 60% da tela */
  max-width: 200px; /* mas nunca passa disso */
  margin: 0 auto;   /* centraliza */
}
.mascote {
  width: 50%;
  max-width: 180px;
  margin: 20px auto;
  transform: rotate(-42.667deg);
}

.links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #000505;
  margin-top: 10px;
}

